<h1>Adds a new Job</h1>
<form action="/jobs" method="post">
  <label for="title">What is the Job Title?</label>
  <input id="title" name="title" type="text">
  <label for="description">What is the Job description?</label>
  <input id="description" name="description" type="text">
  <label for="contact">What is the Contact phone number?</label>
  <input id="contact" name="contact" type="tel">
  <button type="submit">Submit</button>
</form>
